.wedding-content {
    background-color: #fff;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-list-donations {
    margin: 50px 0;
}

.transfer-content {
    background-color: #A5C7EE;
    display: flex;
    align-items: center;
    padding: 20px;
}

.form-free-content {
    height: 100%;
    width: 205px;
    margin: 0 auto;
    text-align: start;
}

.form-free-content form div {
    margin-top: 5px;
}

.form-free-content form p {
    font-weight: bold;
}

.address {
    display: flex;
    justify-content: space-between;
}

.postal-code-content input {
    width: 100px;
}

.address-number-content input {
    width: 50px;
}

.form-pagseguro-billet {
    margin-top: 10px;
}

.payments-content {
    max-width: 450px;
}

.payments-content * {
    font-family: sans-serif;
}

.payments-content p {
    font-weight: 500;
    margin: 0px;
}

.payments-content p a:hover {
    text-decoration: none;
}

.payments-content p strong {
    font-weight: bold;
}

.billet-content {
    background-color: #B4ED8C;
    display: flex;
    align-items: center;
    padding: 20px;
}

.billet-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: sans-serif;
}

.billet-description ul {
    margin: 0;
}

.billet-description li {
    margin-top: 10px;
}

.billet-description a{
    font-size: 15px;
}

.credit-card-content {
    background-color: #FFFF96;
    display: flex;
    align-items: center;
    padding: 20px;
}

.credit-card-description {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 auto;
}

.credit-card-description .form-pagseguro {
    margin-top: 10px;
}

.gifts-list-title {
    margin: 50px;
    text-align: center;
}

.gifts-list-title span {
    color: red;
    font-size: 15px;
    font-weight: 100;
}

.wedding-list table{
  width: 100%;
}

.wedding-list table * {
    font-family: sans-serif;
}

.wedding-list table, .wedding-list th,
.wedding-list td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.wedding-list th, .wedding-list td {
    padding: 5px;
}

.wedding-list th {
    background-color: #ffc600;
    color: #000;
}

.wedding-list .text-align-center {
    text-align: center;
}

.wedding-list tbody .table-img {
    text-align: center;
}

.wedding-list td img {
    max-height: 120px;
}

.wedding-list tbody .buttons-quota {
    text-align: center;
}

.wedding-list button {
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    background-color: #ffc600;
    padding: 8px;
    border-radius: 2px;
} 

.wedding-list button:active {
    background-color: rgba(76, 175, 80, 0.5);
}

.wedding-list tbody tr:hover {
    background-color: #f5f5f5;
}

.wedding-list tfoot tr {
    text-align: center;
}

.wedding-list tfoot .form-cell {
    padding: 10px 0px;
    text-align: center;
}

.form-cell .form-free-content  {
    line-height: 1.0rem;
}

.form-cell .form-free-content div {
    margin: 0;
}

.form-cell .form-free-content div p {
    margin: 8px 0px;
}

.form-cell form {
    margin-top: 10px;
}

.warning-click {
    color: red;
    margin-top: 10px;
}

.warning span {
    display: block;
}

@media(max-width: 576px) {
    .wedding-list td img {
        max-height: 75px;
    }
}
